    <div class ="message__containers__side">
    <div class ="message__containers__side__title">
      Your Santa Groups
    </div>
      <div class ="message__containers__side__posts">
        <% current_user.groups.each do |group| %>
        <div class="message__containers__side__posts__post">
          <div class="message__containers__side__posts__post__title">

          <%= link_to group.name, group_messages_path(group) %>

          </div>
          <div class="message__containers__side__posts__post__message">
            <%= group.show_last_message %>

          </div>
        </div>
        <% end %>
      </div>
    </div>